html{
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing: inherit;

}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', arial,  sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.main-header{
  background-color: #eeeeee;
}

img{
  max-width: 100%;
  height: auto;
  box-sizing: content-box;
}

a{
  text-decoration: none;
}


.main-navigation a{
  font-weight:normal;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

li{
  list-style-type: none;
  }


.slider-slide-1 h2,
.slider-slide-2 h2,
.slider-slide-3 h2{
  font-weight:normal;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.find-out-more{
  background-color: #fb565a;
  color: #ffffff;
}

.main-menu-item h3{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.main-menu-item a{
  color: #ffffff;
}

.main-menu-order-1{
  background-color:  #fb565a;
  text-align: center;
}

.main-menu-order-2{
  background-color:#00ca74;
  text-align: center;
}

.main-menu-order-3{
  background-color: #efc84a;
  text-align: center;
}

.about-us > h2{
  font-weight: normal;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.left-column h2{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.right-column h3{
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

th{
  font-weight: bold;
  font-size: 45px;
  line-height: 50px;
  color: #000000;
}

td{
  font-size: 16px;
  line-height: 18px;
}

.write-us h3{
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
}

.write-us p{
  font-size: 16px;
  line-height: 18px;
}

.write-us-button{
  background-color:#fb565a;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
}

.write-us-button:link{
  background-color: #fb565a;
  color: #ffffff;
}

.write-us-button:hover{
  background-color: #e74246;
  color: #ffffff;
}

.write-us-button:active{
  background-color: #d7373b;
  color: #ffffff;
}

.main-pop-up h3{
  color: #000000;
  font-size: 45px;
  line-height: 45px;
}

label{
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
}

textarea{
  color: #d7dcde;
  border: 2px solid #d7dcde;
}

 .pop-up input[type="text"]{
  color: #b1b1b1;
  border: 2px solid #d7dcde;
 }

 .pop-up input[type="submit"]{
  background-color: #fb565a;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  border: none;
 }

.pop-up .button:link{
  background-color: #fb565a;
  color: #ffffff;
 }

.pop-up .button:hover{
  background-color: #e74246;
  color: #ffffff;
  }

.pop-up .button:active{
  background-color: #d7373b;
  color: #ffffff;
   }

.social{
  background-color: #e1e1e1;
}

.social:link{
  background-color: #e1e1e1;

}

.social:hover{
  background-color: #e74246;

}

.social:active{
  background-color: #d7373b;
}

.sale{
  outline: 1px solid red;
}


.sale b{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.sale p{
  font-size: 16px;
  line-height: 22px;
}

.main-header-logo:link{
  opacity: 1;
}

 .main-header-logo:hover{
  opacity: 0.6;
}

.main-header-logo:active{
  opacity: 0.3;
}

.navigation a:link{
  color: #000000;
}

.navigation a:visited{
  border-bottom-color: 2px solid #fb565a;
  color: #000000;
}

.navigation a:hover{
  color: #fb565a;
}

.navigation a:active{
  color: #bdbdbd;
}

.basket-link:link{
  color: rgb(0, 0, 0);
}

.basket-link:hover{
  color: #fb565a;
}

.basket-link:active{
  color: #bdbdbd;
}

.find-out-more:link{
  background-color: #fb565a;
  color: #ffffff;
}

.find-out-more:hover{
  background-color: #e74246;
  color: #ffffff;
}

.find-out-more:active{
  background-color: #d7373b;
  color: #e48789;
}

.main-menu-order-1:link{
  background-color:#fb565a;
  color:#ffffff;
}

.main-menu-order-1:hover{
  background-color: #e74246;
  color: #ffffff;
}

.main-menu-order-1:active{
  background-color: #d7373b;
  color: #e48789;
}

.main-menu-order-2:link{
  background-color: #00ca74;
  color: #ffffff;
}

.main-menu-order-2:hover{
  background-color: #00bc6c;
  color: #ffffff;
}

.main-menu-order-2:active{
  background-color: #00aa62;
  color: #74c69c;
}

.main-menu-order-3:link{
  background-color: #efc84a;
  color: #ffffff;
}


.main-menu-order-3:hover{
  background-color: #eab534;
  color: #ffffff;
}

.main-menu-order-3:active{
  background-color: #e5a722;
  color: #edc47f;
}


.logo:link,
.logo :link,
.logo:link,
.logo:link,
.logo:link,
.logo:link{
  opacity: 0.6;
}


.logo:hover,
.logo:hover,
.logo:hover,
.logo:hover{
  opacity: 1;
}

.logo:active,
.logo:active,
.logo:active,
.logo:active{
  opacity: 0.3;
}

.write-us input:link{
  border-color: #d7dcde;
}

.write-us input:hover{
  border-color: #b4b9bb;
}

.write-us input:focus{
  border-color: #000000;
  color: #444444;
}

.write-us textarea:link{
  border-color: #d7dcde;
}

.write-us textarea:hover{
  border-color: #b4b9bb;
}

.write-us textarea:focus{
  border-color: #000000;
  color: #444444;
}


input[type="text"]:invalid::-webkit-input-placeholder{
  border: 2px solid #e74246;
  color:  #e74246;
}

.main-header h1{
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.filters > h2{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.filters legend{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.form label{
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.square input[type="submit"]:link{
  background-color: #eeeeee;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}

.square input[type="submit"]:hover{
  background-color: #dfdfdf;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}

.square input[type="submit"]:active{
  background-color: #d5d5d5;
  color: #a9a9a9;
  text-align: center;
  vertical-align: middle;
}
.filter{
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.filter-type a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-type a:link{
  color: #cacaca;
}

.filter-type a:hover{
  color: #8d8d8d;
}

.filter-type a:active{
  color: #000000;
}

.catalog-pop-up h2{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.catalog-pop-up p{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.catalog-pop-up a{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-pop-up a:link{
  background-color: #fb565a;
  color: #ffffff;
}

.catalog-pop-up a:hover{
  background-color: #e74246;
  color: #ffffff;
}

.catalog-pop-up a:active{
  background-color: #d7373b;
  color: #ffffff;
}

.circle label:link{
  color: #283136;
}

.circle label:hover{
  color: #000000;
}

.circle label:disabled{
  color: #ced0d0;
}

.square label:link{
  color: #283136;
}

.square label:hover{
  color: #000000;
}

.square label:disabled{
  color: #ced0d0;
}

.pagination a{
  color:#000000;
}


.pagination a:link{
  background-color: #eeeeee;
  color: #000000;
}

.pagination a:visited{
  background-color: ;
  color: ;
}

.pagination a:hover{
  background-color: #dfdfdf;
  color: #000000;
}

.pagination a:active{
  background-color: #d5d5d5;
  color: #a9a9a9;
  border-top: 3px solid #bfbfbf;
}



a:link { ... }
a:visited { ... }
a:hover { ... }
a:active { ... }

/*              Строим сетки     */
.main-header{
  outline: 1px solid red;
  width: auto;
  min-height: 545px;
  margin-bottom: 60px;
}

 .main-navigation{
  outline: 1px solid red;
  width: 1160px;
  min-height: 80px;
  margin-bottom: 90px;
}

.navigation{
  margin: 0px;
  padding: 0px;
  outline: 1px solid red;
  width: 560px;
  height: 80px;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-navigation{
  display: flex;
  align-items: center;
  outline: 1px solid red;
  width: 160px;
  height: 80px;
  margin: 0px;
  margin-left: auto;

}

.main-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.main-header-logo{
  outline: 1px solid red;
  width: 160px;
  height: 80px;
  margin-right: 175px;
}

.menu-list{
  outline: 1px solid red;
  margin: 0;
  padding: 0;
}

.main-menu-item{
  width: 300px;
  min-height: 350px;
}

.menu-list{
  display:flex;
  justify-content: space-between;
}

.projects{
  display: flex;
  justify-content: space-between;
  outline: 1px solid red;
  width: 1160px;
  min-height: 90px;
}

.modal .modal-map{
  width: 1440px;
  min-height: 415px;
  outline: 1px solid red
}

.main-footer{
  width: auto;
  min-height: 217px;
  outline: 1px solid red
}


.main-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social{
  display: flex;
  margin-right: auto;
  flex-grow: 1;
}

.sale{
  flex-grow: 3;
}



.write-to-us{
  outline: 1px solid red;
  width: 320px;
  min-height: 310px;
}

.main-pop-up{
  outline: 1px solid red;
  width: 960px;
  min-height: 590px;
  margin: auto;
}

.shop{
  padding: 90px 200px 110px 200px;
}


.filters{
  width: 260px;
}


.form{
  display: flex;
  flex-direction: column;}

.circle{
  border: none;
}

.circle{
  display: flex;
}

.square{
  border: none;
}

.square{
  display: flex;
}

.gallery{
  width: 760px;
  min-height: 1915px;
  outline: 1px solid red;
}

.gallery{
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  outline: 1px solid red;
  margin-bottom: 60px;
/*  margin: 0px;
  padding: 0px;*/
}

.maket{
  width: 360px;
  margin: 0px;
  padding: 0px;
  outline: 1px solid red;
}


.filter-type{
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  align-items: flex-end;
  align-items: center;
  outline: 1px solid red;
  padding-left: 0;
}



.pagination{
  display: flex;
  width: 445px;
  padding-left: 0;
}

.pagination li:not(:last-child){
  margin-right: 10px;
}

.visually-hidden{
  visibility: hidden;
  position: absolute;
}


.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-us-block{
  display: flex;
}

.slide .slider-slide-1{
  display: flex;
}


.main-catalog-content .container{
  display: flex;
  justify-content: space-between;
}

.block-maket{
  width: 760px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.sorting > span{
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  margin: 0;
}
