html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,*::before,*::after{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;

}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', arial,  sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

img{
  max-width: 100%;
  height: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

.main-header{
  background-color: #eeeeee;
}

.main-navigation a{
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.slider{
  position: relative;
}

.slider-controls i{
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 14px;
  cursor: pointer;
  vertical-align: top;
}

.slider-controls i{
  position: relative;
}

.slider-controls{
  position: absolute;
  bottom: 90px;
  left: 536px;
}
.slider-controls .active::before{
content: "";
position: absolute;
-webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
left: 50%;
top: 50%;
z-index: 2;
width: 9px;
height: 9px;
background-color: #ffffff;
border: 2px solid #c1c1c1;
border-radius: 50%;
}

.slider-slide-1 h2,
.slider-slide-2 h2,
.slider-slide-3 h2{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  max-width: 600px;
}

.slider-slide-1{
  display: block;
  min-height: 431px;
  margin: 0;
}

.slider-slide-1{
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 398px 11px;
  background-size: 760px 431px;
  padding: 88px 0 80px 0;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.slider-slide-2{
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 760px 431px;
  padding: 78px 0 80px 0;
  background-color: #eeeeee;
}

.slider-slide-3{
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 760px 431px;
  padding: 78px 0 80px 0;
  background-color: #eeeeee;
}

.slide h2{
  margin: 0;
  margin-bottom: 25px;
}

.slide p{
  max-width: 400px;
  margin: 0;
  margin-bottom: 38px;
}

.find-out-more{
  display: inline-block;
  padding: 17px 54px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  vertical-align: middle;
}

.main-menu-item h3{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.main-menu-item a{
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.main-menu-item img{
  margin-bottom: 17px;
}

.main-menu-item p{
  margin-bottom: 32px;
}

.main-menu-order-1{
  background-color:  #fb565a;
  vertical-align: middle;
}

.button{
  display: block;
  border-radius: 3px;
  padding: 16px 39px;
}

.main-menu-order-2{
  background-color:#00ca74;
  text-align: center;
}

.main-menu-order-3{
  background-color: #efc84a;
  text-align: center;
}

.about-us > h2{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  padding-bottom: 17px;
  margin: 0;
}

.left-column h2:not(:first-child){
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.right-column h3{
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 33px;
  padding-left: 17px;

}


.stats th{
  font-weight: bold;
  font-size: 45px;
  line-height: 50px;
  color: #000000;
  padding-bottom: 14px;
}

.stats td{
  font-size: 16px;
  line-height: 18px;
  padding-right: 22px;
}

.write-us h3{
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
}

.write-us p{
  font-size: 16px;
  line-height: 18px;
  }

.write-us-button{
  display: inline-block;
  border-radius: 3px;
  background-color:#fb565a;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 17px 44px;
  vertical-align: middle;
}

.write-us-button:link{
  background-color: #fb565a;
  color: #ffffff;
  margin-top: 22px;
  font-weight: 500;
}

.write-us-button:hover{
  background-color: #e74246;
  color: #ffffff;
}

.write-us-button:active{
  background-color: #d7373b;
  color: #ffffff;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.main-pop-up label{
  font-weight: 700;
}

.main-pop-up h3{
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

textarea{
  color: #d7dcde;
  border: 2px solid #d7dcde;
}

 .pop-up input[type="text"]{
  color: #b1b1b1;
  border: 2px solid #d7dcde;
  margin-top: 12px;
  margin-bottom: 36px;
  border-radius: 3px;
  font-family: inherit;
 }

 .pop-up input[type="submit"]{
  background-color: #fb565a;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  border: none;
  margin-top: 47px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Roboto', arial,  sans-serif;
 }

.pop-up .button:link{
  background-color: #fb565a;
  color: #ffffff;
 }

.pop-up .button:hover{
  background-color: #e74246;
  color: #ffffff;
  }

.pop-up .button:active{
  background-color: #d7373b;
  color: #ffffff;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social > svg{
  fill: #ffffff;
}

.sale{
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.sale b{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.sale p{
  font-size: 16px;
  line-height: 22px;
}

.pagination-next{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-header-logo:link{
  opacity: 1;
}

 .main-header-logo:hover{
  opacity: 0.6;
}

.main-header-logo:active{
  opacity: 0.3;
}

.navigation a:hover{
  color: #fb565a;
}

.navigation a:active{
  color: #bdbdbd;
}

.navigation li:not(:last-child){
  margin-right: 46px;
}

.site-navigation-current{
  border-bottom: 2px solid #fb565a;
  padding-bottom: 2px;
}


.basket-link:hover{
  color: #fb565a;
}

.basket-link:active{
  color: #bdbdbd;
}

.find-out-more:link{
  background-color: #fb565a;
  color: #ffffff;
}

.find-out-more:hover{
  background-color: #e74246;
  color: #ffffff;
}

.find-out-more:active{
  background-color: #d7373b;
  color: #e48789;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.main-menu-item .button{
  padding: 14px 39px;
  width: 160px;
  height: 50px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-menu-order-1:link{
  background-color:#fb565a;
  color:#ffffff;
}

.main-menu-order-1:hover{
  background-color: #e74246;
  color: #ffffff;
}

.main-menu-order-1:active{
  background-color: #d7373b;
  color: #e48789;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.main-menu-order-2:link{
  background-color: #00ca74;
  color: #ffffff;
}

.main-menu-order-2:hover{
  background-color: #00bc6c;
  color: #ffffff;
}

.main-menu-order-2:active{
  background-color: #00aa62;
  color: #74c69c;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.main-menu-order-3:link{
  background-color: #efc84a;
  color: #ffffff;
}

.main-menu-order-3:hover{
  background-color: #eab534;
  color: #ffffff;
}

.main-menu-order-3:active{
  background-color: #e5a722;
  color: #edc47f;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.logo:link{
  opacity: 0.2;
}

.logo:hover{
  opacity: 1;
}

.logo:active{
  opacity: 0.1;
}

.write-us textarea{
  width: 760px;
  height: 118px;
}

.write-us input:link{
  border-color: #d7dcde;
}

.write-us input:hover{
  border-color: #b4b9bb;
}

.write-us input:focus{
  border-color: #000000;
  color: #444444;
}

.write-us textarea:link{
  border-color: #d7dcde;
}

.write-us textarea:hover{
  border-color: #b4b9bb;
}

.write-us textarea:focus{
  border-color: #000000;
  color: #444444;
}

input[type="text"]:invalid::-webkit-input-placeholder{
  color: #e74246;
  width: 360px;
  height: 50px;
}

input[type="text"]:invalid::-moz-placeholder{
  color: #e74246;
  width: 360px;
  height: 50px;
}

input[type="text"]:invalid{
  border-color: #e74246;
}

.shop{
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  text-align: center;
  padding-bottom: 108px;
  padding-top: 83px;
  margin: 0;
  margin-bottom: 61px
}

.filters > h2{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.filters legend{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.form label{
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  display: block;
  font-weight: 500;
}

.square input[type="submit"]{
  outline: none;
}

.square input[type="submit"]:link{
  background-color: #eeeeee;
  color: #000000;
}

.square input[type="submit"]:hover{
  background-color: #dfdfdf;
  color: #000000;
}

.square input[type="submit"]:active{
  background-color: #d5d5d5;
  color: #a9a9a9;
  -webkit-box-shadow:  inset 0 3px 0 0 #bfbfbf;
          box-shadow:  inset 0 3px 0 0 #bfbfbf;
}

.square input[type="submit"]{
  display: inline-block;
  padding: 17px 88px;
  margin-top: 30px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-family: 'Roboto', arial,  sans-serif;
  vertical-align: middle;
}

.filter{
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.filter-type a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
}

.filter-type a{
  color: rgba(35, 31, 32, 0.3);
}

.filter-type a:hover{
  color: rgba(35, 31, 32, 0.6);
}

.filter-type a:active{
  color: rgba(35, 31, 32, 1);
}

.filter-type .current{
  color: rgba(35, 31, 32, 1);
}

.filter-type li{
  margin-right: 28px;
  padding: 0;
}

.filter-type:nth-child(4){
  padding-right: 18px;
}

.catalog-pop-up{
  position: relative;
  width: 100%;
  min-height: 240px;
  text-align: center;
  background-color: #eeeeee;
  padding: 26px 50px 20px 50px;
}

.catalog-pop-up h2{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  padding-bottom: 13px;
  margin: 0;
}

.catalog-pop-up p{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin: 0;
  padding-bottom: 33px;
  margin-bottom: 13px;
}

.order-link{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 16px 62px;
  border-radius: 3px;
  font-weight: 500;
  margin-bottom: 3px;
}

.order-link:link{
  background-color: #fb565a;
  color: #ffffff;
}

.order-link:hover{
  background-color: #e74246;
  color: #ffffff;
}

.order-link:active{
  background-color: #d7373b;
  color: #ffffff;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.catalog-pop-up .layout-link{
  color: #000000;
  font-weight: 500;
}

.circle label:link{
  color: #283136;
}

.circle label:hover{
  color: #000000;
}

.circle label:disabled{
  color: #ced0d0;
}

.square label:link{
  color: #283136;
}

.square label:hover{
  color: #000000;
}

.square label:disabled{
  color: #ced0d0;
}

.navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 560px;
  padding-top: 75px;
}

.user-navigation{
  margin: 0;
  padding: 0;
  margin-left: auto;
  padding-top: 75px;
}

.basket-link{
  position: relative;
  padding-left: 42px;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.main-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
}

.main-header-logo{
  width: 160px;
  height: 65px;
  padding-top: 50px;
  margin-right: 202px;
  z-index: 1;
}

.main-logo{
  width: 160px;
  height: 65px;
  padding-top: 50px;
  margin-right: 202px;
  z-index: 1;
}

.menu-list{
  margin: 0;
  padding: 0;
  margin-bottom: 77px;
}

.main-menu-item{
  min-width: 300px;
  margin-right: 100px;
}

.main-menu-item:last-child{
  margin-right: 0;
}

.menu-list{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.projects{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  min-height: 180px;
  margin-bottom: 80px;
  position: relative;
}

.projects{
  margin: 0;
  padding: 0;
  margin-bottom: 83px;
}

.projects a{
  width: 260px;
  height: 180px;
}

.projects li{
  margin: 0;
  padding: 0;
}

.html::after{
  content: "";
  position: absolute;
  left: 0;
  background-image: url("../img/logo-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 260px;
  height: 180px;
  left: -1px;
  top: -2px;

}

.barbershop::after{
  content: "";
  position: absolute;
  left: 297px;
  top: -2px;
  background-image: url("../img/logo-2.png");
  background-repeat: no-repeat;
  width: 260px;
  height: 180px;
}

.pink::after{
  content: "";
  position: absolute;
  background-image: url("../img/logo-3.png");
  background-repeat: no-repeat;
  right: 299px;
  top: -2px;
  width: 260px;
  height: 180px;
}

.mishka::after{
  content: "";
  position: absolute;
  background-image: url("../img/logo-4.png");
  background-repeat: no-repeat;
  width: 260px;
  height: 180px;
  right: -1px;
  top: -2px;
}

.projects .logo-html::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  left: 279px;
  top: 62px;
}

.projects .logo-barbershop::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  left: 579px;
  top: 62px;
}

.projects .logo-pink::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  right: 279px;
  top: 62px;
}

.modal-map{
  position: relative;
  background-image: url("../img/map-contacts.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.modal-map img{
  position: absolute;
  z-index: 1;
  top: 0;
  display: block;
  margin: 0 auto;
  width: 1440px;
  height: 415px;
}

.main-footer p{
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.main-footer{
  width: auto;
  min-height: 217px;
}

.main-footer .container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 69px;
}

.footer-social{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 51px;
}

.social{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social > svg{
  fill: #ffffff;
  margin: auto;
}

.social:active > svg{
  opacity: 0.3;
}

.footer-social li{
  margin-right: 12px;
}

.social:hover{
  background-color: #e74246;
}

.social:active{
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.main-pop-up{
  display: none;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 960px;
  padding: 72px 100px 84px 100px;
  -webkit-box-shadow: 0  10px 40px 1px #000000;
          box-shadow: 0  10px 40px 1px #000000;
  background-color: #ffffff;
  z-index: 3;
}

.filters{
  width: 260px;
}

.form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;}

.circle{
  margin: 0;
  padding: 0;
  border: none;
}

.square{
  margin: 0;
  padding: 0;
  border: none;
}

.square{
  margin: 0;
  padding: 0;
  border: none;
}

.square label{
  margin-bottom: 20px;
}

.gallery{
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.layout{
  width: 360px;
  margin: 0;
  padding: 0;
}

.filter-type{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.arrow-asc{
  position: absolute;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
}

.arrow-des{
  position: absolute;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  top: 0;
  right: 29px;
  width: 12px;
  height: 12px;
}

.pagination{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination .pagination-item{
  color: #000000;
}

.pagination-item{
  display: block;
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  text-align: center;
  vertical-align: middle;
  padding: 14px;
  margin-right: 11px;
  border-radius: 3px;
}

.pagination-item:not(.pagination-item-current):hover{
  background-color: #dfdfdf;
}

.pagination-item:not(.pagination-item-current):active{
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 1, 1, 0.3);
}

.pagination-item-current{
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 0 0 3px rgba(0, 1, 1, 0.1);
}

.pagination-next{
  padding-top: 17px;
  min-width: 260px;
  padding-left: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-items li{
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}

.list-items{
  position: relative;
  padding-left: 37px;
}

.list-items li::before{
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 2px;
  border: 1px solid #fb565a;
  top: 10px;
  left: 1px;
  vertical-align: middle;
}

.list-items li:nth-child(2)::before{
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 2px;
  border: 1px solid #fb565a;
  top: 59px;
  left: 1px;
  vertical-align: middle;
}

.list-items li:nth-child(3)::before{
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 2px;
  border: 1px solid #fb565a;
  top: 107px;
  left: 1px;
  vertical-align: middle;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-us{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #eeeeee;
  padding-top: 36px;
}

.column-title{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.left-column h2 {
  margin-bottom: 25px;
}


.main-catalog-content .container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-layout{
  width: 760px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting{
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 55px;
}

.sorting > span{
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.filter-item{
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter{
  width: 260px;
  margin-top: 49px;
}

.filter-item legend{
  font-family: 'Roboto', arial,  sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.range-controls{
  position: relative;
  height: 80px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale{
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar{
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle{
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 125px;
}

.range-controls .toggle-min {
  left: 16px;
  top: 36px;
  width: 20px;
  height: 20px;
}

.range-controls .toggle-max {
  left: 160px;
  top: 35px;
  width: 20px;
  height: 20px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  vertical-align: middle;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  outline: none;
  width: 70px;
  padding: 8px 10px;
  margin-left: 12px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.about-us p {
  margin-bottom: 39px;
  margin-top: 33px;
}

.about-us{
  padding-top: 37px;
  margin-bottom: 34px;
}

.left-column{
  width: 670px;
  padding-top: 36px;
}

.right-column{
  width: 360px;
}

.company-logo img{
  margin-bottom: 33px;
}

.form .filter-item{
  margin-bottom: 55px;
}

.circle label:not(:last-child){
  margin-bottom: 20px;
}

.circle legend {
  margin-bottom: 13px;
}

.square{
  margin-top: 46px;
}

.square legend{
  margin-bottom: 15px;
}

.pagination{
  margin-top: 26px;
  margin-bottom: 60px;
  padding-left: 0;
}

.pop-up-button{
  display: block;
  width: 260px;
  height: 50px;
  border-radius: 3px;
  padding: 16px 85px;
}

input[type="radio"],
input[type="checkbox"]{
  display: none;
}

.circle label{
  padding-left: 36px;
  position: relative;
}

input[type="radio"] + label::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin: 0 5px 0 0;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
  cursor: pointer;
}

input[type="radio"]:disabled + label::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin: 0 5px 0 0;
  background-image: url("../img/radio-off.svg");
  opacity: 0.1;
  cursor: pointer;
}

input[type="radio"] + label::after{
  content: "";
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin: 0 5px 0 0;
  background-image: url("../img/radio-on.svg");
  opacity: 1;
  cursor: pointer;
}

input[type="radio"]:checked + label::after{
  display: block;
}

input[type="radio"]:checked + label::before{
  display: none;
}

.circle label:hover::before{
  opacity: 1;
}

.square label{
  padding-left: 35px;
  position: relative;
}

input[type="checkbox"] + label::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 0 5px 0 0;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
  cursor: pointer;
  vertical-align: middle;
}

input[type="checkbox"] + label::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 25px;
  width: 25px;
  margin: 0 5px 0 0;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 1;
  cursor: pointer;
}

.square label:hover::before{
  opacity: 1;
}

input[type="checkbox"]:checked + label::after{
  display: block;
}

input[type="checkbox"]:checked + label::before{
  display: none;
}

input[type="checkbox"]:disabled + label::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 0 5px 0 0;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.1;
  cursor: pointer;
  vertical-align: middle;
}

.layout{
  position: relative;
  margin-bottom: 28px;
}

.layout img{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 40px;
  border: 1px solid #e5e5e5;
  border-top: none;
}

.block-layout{
  position: relative;
}


.arrow-asc{
  opacity: 0.3;
}

.arrow-des:hover,
.arrow-asc:hover{
  opacity: 0.6;
}

.arrow-des:active,
.arrow-asc:active{
  opacity: 1;
}

.block-layout{
  position: relative;
}

.modal-close{
  width: 23px;
  height: 23px;
  border: none;
  font-size: none;
  position: absolute;
  top: 84px;
  left: 850px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  position: 50% 50%;
  border: none;
  background-color: white;
  outline: none;
  opacity: 0.3;
}

.modal-close:hover{
  opacity: 1;
}

.modal-close:active{
  opacity: 0.1;
}

.flex-form{
  width: 761px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 761px;
  height: 255px;
}

.form-item{
  display: block;
  width: 360px;
  padding: 0;
  margin: 0;
}

.pop-up input{
  outline: none;
}

.catalog-pop-up{
  display: none;
}

.layout:hover .catalog-pop-up{
  display: block;
  position: absolute;
  bottom: 0;
}

input[type="text"]{
  padding: 10px;
  width: 80px;
}

.block-layout{
  position: relative;
}

.layout::before{
  content: url("../img/browser.svg");
  position: absolute;
  width: 360px;
  height: 40px;
  opacity: 0.12;
}

.layout:hover::before{
  content: url("../img/browser.svg");
  width: 360px;
  height: 40px;
  position: absolute;
  opacity: 1;
}

.layout:hover{
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
          box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.modal-map .container{
  position: relative;
  min-height: 415px;
}

.writetous{
  width: 319px;
  background-color: #fff;
  left: 20px;
  top: 50px;
  position: absolute;
  padding: 56px 50px 47px 50px;
  z-index: 2;
}

.info{
  width: 202px;
}

.writetous h3{
  margin: 0;
  margin-bottom: 25px;
}

.writetous p{
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 18px;
}

.form-item input{
  width: 360px;
  height: 50px;
}

.form-item textarea{
  padding: 10px;
  outline: none;
  margin-top: 12px;
  border-radius: 3px;
  color: #d7dcde;
  border: 2px solid #d7dcde;
  font-family: inherit;
  resize: vertical;
}

.stats th{
  position: relative;
  padding-right: 24px;
  text-align: start;
}

.percent{
  position: absolute;
  width: 22px;
  height: 22px;
  top: 15px;
  right: 17px;
}

.last-child{
  position: absolute;
  width: 22px;
  height: 22px;
  top: 15px;
  right: 65px;
}

.web,
.apps,
.presentations{
  position: relative;
  padding-top: 170px;
}

.web{
  background-image: url("../img/illustration-1.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 300px 146px;
  background-size: 300px 146px;
}

.apps{
  background-image: url("../img/illustration-2.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 300px 146px;
  background-size: 300px 146px;
}


.presentations{
  background-image: url("../img/illustration-3.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 300px 146px;
  background-size: 300px 146px;
}
